.menu-buttons  {
    display: flex;
    justify-content: center;
    
}

.menu-buttons button {
    background: linear-gradient(white,darkorange);
    text-decoration: none;
    border-radius: 50px;
    border-color: black;
    color: black;
    font-size: 3vh;
    /* height: 30px;
    width: 300px; */
    margin: 5px;
    /* width: 30vw; */
    /* height: 6vw; */
}

#tile-dodge {
    height: 600px;
    width: 600px;
    max-height: 80vh;
    max-width: 60vw;
}


.page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
    align-items: center;
    /* background: linear-gradient(tan, orange); */
    height: 100vh;
    width: 100vw;
    margin: 0px;
}



body {
    background: rgb(255, 247, 230);
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
}

.instructions {
    margin: 10px;
    /* color: white; */
    font-family: Helvetica;
    overflow: auto;
    /* flex-grow: initial; */
    /* position: absolute; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
}